body {
  width: 150px;
}
.wrapper {
  align-items: center;
}
.margarita {
  width: 150px;
  height: 25px;
  margin: 2px;
  color: rgb(13, 55, 63);
  border-radius: 20px;
  border-color: rgb(16, 98, 112);
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
}
